<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="Gopolang Mathole"
	content="A dashboard that displays employee directory's performance">

<title>Employee Directory - Dashboard</title>

<!-- Custom fonts for this template-->
<link href="/static/vendor/fontawesome-free/css/all.min.css"
	th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">

<!-- Page level plugin CSS-->
<link href="/static/vendor/datatables/dataTables.bootstrap4.css"
	th:href="@{/vendor/datatables/dataTables.bootstrap4.css}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/static/css/sb-admin.css" th:href="@{/css/sb-admin.css}"
	rel="stylesheet">

</head>

<body id="page-top">

	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

		<a class="navbar-brand mr-1" th:href="@{/employees/list}">Employee
			Directory </a>
			
		<button class="btn btn-link btn-sm text-white order-1 order-sm-0"
			id="sidebarToggle" href="#">
			<i class="fa fa-bars"></i>
		</button>

		<!-- Navbar Search -->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

		</form>

		<!-- Navbar -->
		<ul class="navbar-nav text-center mr-5">
			<li class="nav-item ml-1"><a class="nav-link"
				th:href="@{/employees/api}">Api <span
					class="badge badge-pill badge-success rounded mt-3"
					style="background-color: #00c853 !important">5</span></a></li>

		</ul>

	</nav>


	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/employees/viewReport}"> <i
					class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
			</a></li>

		</ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
					<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>


					<div class="dropdown">
						<button id="btnGroupDrop1" type="button"
							class="btn btn-sm btn-primary shadow-sm dropdown-toggle"
							data-toggle="dropdown" data-placement="left"
							title="Download report in pdf, docx and text"
							aria-haspopup="true" aria-expanded="false">Generate
							Report</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">As PDF</a> <a
								class="dropdown-item" href="#">As TXT</a> <a
								class="dropdown-item" href="#">As WORD</a>
						</div>
					</div>
				</div>

				<!-- Icon Cards-->
				<div class="row mb-5 mt-3">

					<!--Application health status -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div
											class="text-xs font-weight-bold text-primary text-uppercase mb-1">App
											Health</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800">
											<span class="h5" id="actuator-status"></span>
										</div>
									</div>
									<div class="col-auto">
										<i class="fa fa-heartbeat fa-2x text-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Total errors -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-success shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div
											class="text-xs font-weight-bold text-success text-uppercase mb-1">
											Total Errors</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800">
											<span class="h5" id="total-errors"></span>
										</div>
									</div>
									<div class="col-auto">
										<i class="fa fa-exclamation-circle fa-2x text-300"
											aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Database status -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-info shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div
											class="text-xs font-weight-bold text-info text-uppercase mb-1">Database
											Status</div>
										<div class="row no-gutters align-items-center">
											<div class="col-auto">
												<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
													<span class="text-center h5" id="mysql-status"></span>
												</div>
											</div>

										</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-database fa-2x text-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Disk space -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-warning shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div
											class="text-xs font-weight-bold text-warning text-uppercase mb-1">Available
											Disk Space</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800">
											<span class="h5" id="disk-space"></span>
										</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-hdd fa-2x text-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Top monitoring -->
				<div class="container">

					<div class="row">
						<!-- Polar chart-->
						<div class="card mb-3 mx-auto"
							style="width: 45%; box-shadow: 0px 2.5px 8px #c1c1c1;">
							<div class="card-header">
								<i class="fas fa-chart-area mr-4"></i>
								<p class="text-primary">(400 -599) Internal Errors</p>
							</div>
							<div class="card-body">
								<canvas id="polarArea" width="100%" height="75"></canvas>
							</div>
						</div>

						<!-- Chart starts here -->

						<div class="card mb-3 mx-auto"
							style="width: 45%; box-shadow: 0px 2.5px 8px #c1c1c1;">
							<div class="card-header">
								<i class="fas fa-chart-area mr-4"></i>
								<p class="text-primary">(400 -599) Internal Errors</p>
							</div>
							<div class="card-body">
								<canvas id="pie" width="100%" height="75"></canvas>
							</div>
						</div>

					</div>
				</div>
				<!-- Bottom monitoring -->

				<div class="card my-5">
					<div class="card-header">
						<i class="fas fa-chart-area mr-1"></i>(400 -500) Internal Errors
					</div>
					<div class="card-body">
						<canvas id="barGraph" width="100%" height="50"></canvas>
					</div>
				</div>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Application Report
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								scellspacing="0">
								<thead>
									<tr>
										<th>Id</th>
										<th>Code</th>
										<th>Exception</th>
										<th>Time</th>
									</tr>
								</thead>

								<tbody>
									<tr th:if="${exceptions!=null and !exceptions.isEmpty()}"
										th:each="tempexception : ${exceptions}">
										<td th:text="${tempexception.id}" />
										<td th:text="${tempexception.code}" />
										<td th:text="${tempexception.exception}" />
										<td th:text="${tempexception.time}" />
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<!--  <div class="card-footer small text-muted">Updated yesterday
						at 11:59 PM</div>-->
				</div>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer class="sticky-footer bg-dark">
				<div class="container my-auto">
					<div class="copyright text-center my-auto text-white">
						<span>Copyright &copy; employee directory </span><span
							th:text="${year}"></span>
					</div>
				</div>
			</footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>


	<script src="/static/js/sb-data.js" th:src="@{/js/sb-data.js}">
		
	</script>

	<!-- Bootstrap core JavaScript-->
	<script src="/static/vendor/jquery/jquery.min.js"
		th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"
		th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script src="/static/vendor/jquery-easing/jquery.easing.min.js"
		th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Page level plugin JavaScript-->
	<script src="/static/vendor/chart.js/Chart.min.js"
		th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<script src="/static/vendor/datatables/jquery.dataTables.js"
		th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
	<script src="/static/vendor/datatables/dataTables.bootstrap4.js"
		th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

	<!-- Custom scripts for all pages-->
	<script src="/static/js/sb-admin.min.js"
		th:src="@{/js/sb-admin.min.js}"></script>

	<!-- tables scripts for this page-->
	<script src="/static/js/demo/datatables-demo.js"
		th:src="@{/js/demo/datatables-demo.js}"></script>
	<script src="/static/js/sb-charts-data.js"
		th:src="@{/js/sb-charts-data.js}"></script>
	<script src="/static/js/demo/chartjs-plugin-labels.min.js"
		th:src="@{/js/demo/chartjs-plugin-labels.min.js}"></script>


	<script>
		$(function() {
			$('[data-toggle="dropdown"]').tooltip()
		})
	</script>


</body>

</html>
