<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Employee Directory | 404</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />

<!-- Fontawesome CSS -->
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<link href="/static/css/content.css" th:href="@{/css/content.css}"
	rel="stylesheet" />

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
	rel="stylesheet">


<!-- Google font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900"
	rel="stylesheet">

<!-- Custom style-sheet -->
<link type="text/css" rel="stylesheet"
	href="/static/css/error_style.css" th:href="@{/css/error_style.css}" />

<!-- Animate CSS -->
<link rel="stylesheet" href="/static/css/animate.css"
	th:href="@{/css/animate.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top"
		style="box-shadow: 0px 2.5px 8px #c1c1c1;">
		<div class="container">
			<a class="navbar-brand" th:href="@{/employees/list}">Employee
				Directory</a>

			<button class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="navbar-nav ml-1 text-center">
					<li class="nav-item ml-1"><a class="nav-link active"
						th:href="@{/employees/list}">Home <span th:if="${number!=0}"
							class="badge badge-pill badge-primary rounded"
							th:text="${number}"></span></a></li>
					<li class="nav-item ml-1"><a class="nav-link"
						th:href="@{/employees/api}">Api <span
							class="badge badge-pill badge-success rounded"
							style="background-color: #00c853 !important">6</span></a></li>
					<li class="nav-item ml-1"><a class="nav-link"
						th:href="@{/employees/viewReport}">Reports <span
							th:if="${reports!=0}"
							class="badge badge-pill badge-danger rounded"
							style="background-color: #ff1744 !important" th:text="${reports}"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404 animated slideInUp">
				<h1 th:text="${error}"></h1>
			</div>
			<div class="w-100">
				<h2 th:text="${message}" class="animated slideInUp"></h2>
				<p th:text = ${submessage} class="animated slideInUp"></p>
				<a class="animated slideInUp" th:href="@{/employees/list}">
					Return To Homepage</a>
			</div>
		</div>
	</div>

</body>

</html>
